.heading {
    font-size: 23px;
    height:100px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color:black;
}

.copy_right_footer{
    position: fixed;
    width: 100%;
    color: white;
    bottom: 0;
    background-color: rgb(240, 90, 35);
    line-height: 3;
    text-align: center;
}

canvas{
    border:  5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

